body {
    background-image: url(https://www.b-wie-bilder.de/media/image/29/a1/fc/P254.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    min-height: 100vh;
}
header {
    margin: auto auto auto auto;
    width: 80%;
    background-image: url(/assets/img/top_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
header h1 {
    margin-bottom: 0;
}
header div {
    padding-bottom: 2rem;
}
#btnAdd {
    margin-left: 4%;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    margin-top: 1%;
}
.btn-dlt {
    margin-left: 10%;
    font-family: 'Indie Flower', cursive;
    font-size: large;
}
.taskInput {
    font-family: 'Indie Flower', cursive;
    font-size: large;
}
.taskItem {
    margin: 3% auto auto auto;
    list-style: none;
    width: 80%;
    background-image: url(/assets/img/item_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 4rem;
    padding-top: 2.5rem;
    font-size: x-large;
}
p { 
    display: inline;
}